@font-face{
    font-family: 'Brutal Type', sans-serif;
    src: url('../fonts/BrutalType.ttf');
    src: url('../fonts/BrutalType.ttf') format('ttf');
    src: url('../fonts/BrutalType.woff') format('woff');
    src: url('../fonts/BrutalType.woff2') format('woff2');
    src: url('../fonts/BrutalType.eot') format('eot');
    src: url('../fonts/BrutalType.otf') format('otf');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}


@font-face{
    font-family: 'Brutal Type', sans-serif;
    src: url('../fonts/BrutalType-Bold.ttf');
    src: url('../fonts/BrutalType-Bold.ttf') format('ttf');
    src: url('../fonts/BrutalType-Bold.woff') format('woff');
    src: url('../fonts//BrutalType-Bold.woff2') format('woff2');
    src: url('../fonts//BrutalType-Bold.eot') format('eot');
    src: url('../fonts//BrutalType-Bold.otf') format('otf');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}